body, html{
  height: 100%;
  line-height: 1;
  font-family: 'PingFang SC';
  //user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  color: #000;
}

.tabs-h{
  height: 100%;
  .el-tabs__content{
    height: calc(100% - 58px);
  }
}

.el-icon-loading{
  font-size: 24px!important;
}
.el-loading-text{
  font-size: 24px!important;
}
body .el-dropdown-menu{
  background-color: #0080FF;
  border-color:#0080FF;
  text-align: center;
  overflow: initial;
}
body .el-dropdown-menu__item{
  color: white;
}
body .el-dropdown-menu__item:focus,body .el-dropdown-menu__item:not(.is-disabled):hover{
  color: white;
  background-color: #3499FE;
}
body .el-popper[x-placement^=bottom] .popper__arrow{
  border-color: transparent;
  right: 10%;
  left: initial!important;
}
body .el-popper .popper__arrow::after{
  border-width: 9px;
}
body .el-popper[x-placement^=top] .popper__arrow{
  border-color: transparent;
  right: 10%;
  left: initial!important;
}
body .el-popper[x-placement^=top] .popper__arrow::after{
  border-top-color:#0080FF;
  bottom: -2px;
}
body .el-popper[x-placement^=bottom] .popper__arrow::after{
  //border-color:#0080FF;
  border-bottom-color: #0080FF;
  top:-2px;
}
body .el-dropdown.active .el-icon-arrow-down{
  transform: rotate(180deg);
  transition: all .2s linear;
}
body .el-dropdown .el-icon-arrow-down{
  transition: all .2s linear;
}
.cell .el-button--text{
  user-select: initial;
}
.el-select-dropdown .popper__arrow{
  display: none !important;
}

.el-date-picker .popper__arrow{
  display: none !important;
}

.el-date-range-picker  .popper__arrow{
  display: none !important;
}
body .el-popover .popper__arrow{
  display: none;
}
