.el-table{
  thead{
    th{
      background: #f2f2f2;
      color:#666;
    }
  }
  .el-table__body-wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 37px);
  }
}

.page-wraper-sub{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.query-wrap{
  .operation-item{
    float: right;
  }

}

.table-wrap{
  flex: 1;
}

.pagination-wrap{
  margin-top: 10px;
}

.dialog-wrap{
  .el-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 30px);
    max-width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    .el-dialog__header{
      padding: 0 20px;
      line-height: 60px;
      height: 60px;
      background: #f8f8f8;
    }
    .el-dialog__body{
      padding: 30px 24px;
      overflow: auto;
    }
    .el-dialog__footer{
      text-align: center;
    }
  }
}

.condition-wrap{
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  .condition-item{
    display: flex;
    width:25%;
    margin-bottom: 24px;
    padding-right: 24px;
    &.half{
      width: 50%;
    }
    .el-select {
      width: 100%;
    }
    .el-input{
      width: 100%;
    }
    .el-date-editor{
      width: 100%;
    }
  }
}

input{
  color: #000 !important;
  &::placeholder{
    color: #d1d1d1 !important;
  }
}