@import "./reset";
@import "./base";
@import "./element-custom";

/*#app .el-select__tags {
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}
#app .el-input__inner{
  height: auto !important;
}*/
.el-select-dropdown__item{
  width: 180px;
}